services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
      - "8443:8443"
    env_file:
      - ./backend/.env
    depends_on:
      - redis

  redis:
    image: redis:7.2 # official Redis image
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  redis-data:


