services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
      - "8443:8443"
    env_file:
      - ./backend/.env

# We need to implement Networks to add the frontend and redis services
# Also consider volumes (a way to save the data created in the container outside of it)

